 

:root {
    /* color pallettes */
  
    --primary: #003366;
    --secondary: #C9A14A;
    --subtle-primary-bg: #eef7ff;
    --muted-primary-bg:#dceeff;
    --emphasized-primary-bg: #b2dfff;
--primary-rgb: 0, 51, 102;
--secondary-rgb: 201, 161, 74;
    --on-subtle-primary-bg: #0057b4;
    --on-muted-primary-bg:#004a94;
    --on-emphasized-primary-bg:#003366;

    --darker-primary:#002651;
--primary-btn-hover : #008dff; /* p 500 */
--primary-focus-ring-color : #006edf;/* p 600 */

    --subtle-secondary-bg:#f9f7ed;
    --muted-secondary-bg: #f1ead0;
    --emphasized-secondary-bg: #e5d5a3;

 --on-subtle-secondary-bg:#7f5229;
  --on-muted-secondary-bg:#6b4328;
   --on-emphasized-secondary-bg:#5c3a27;

   --darker-secondary: #351e13;
--secondary-btn-hover : #b98b39; /* s 500 */
--secondary-focus-ring-color : #9f6e2f;/* s 600 */
  
  }
  
 html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
 
}
.serif {
  font-family:"Marcellus", serif;
  letter-spacing:0.025em;
  line-height:1.5em;
}


body {
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* BACKGROUNDS */
.primary-bg {
  background-color: var(--primary);
  color: #fff;
}

.subtle-primary-bg{
  background-color: var(--subtle-primary-bg);
  color:  var(--on-subtle-primary-bg);
}
.muted-primary-bg{
  background-color: var(--muted-primary-bg);
  color:  var(--on-muted-primary-bg);
}
.emphasized-primary-bg{
  background-color: var(--emphasized-primary-bg);
  color:  var(--on-emphasized-primary-bg);
}
.secondary-bg {
  background-color: var(--secondary);
 
}
.subtle-secondary-bg{
  background-color: var(--subtle-secondary-bg);
  color:  var(--on-subtle-secondary-bg);
}
.muted-secondary-bg{
  background-color: var(--muted-secondary-bg);
  color:  var(--on-muted-secondary-bg);
}
.emphasized-secondary-bg{
  background-color: var(--emphasized-secondary-bg);
  color:  var(--on-emphasized-secondary-bg);
}

  
  
  .img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
 
  /* ------------------------------------------- */

/* Glavni kontejner kalendara */
.react-datepicker {
  font-family: var(--body-font-family), sans-serif !important;
 border: 1px solid #e4e4e7 !important;
  border-radius: .25rem !important;
 padding-top:1rem !important;
 padding-bottom:1rem !important;
 padding-left:.25rem !important;
 padding-right:.25rem !important;
  background-color: #fff !important;
 box-shadow:none !important;
   transition: all 0.2s ease;
  
}

.react-datepicker-popper{
  background-color: white;
 
}

/* Header deo (mesec i godine) */

.react-datepicker__header{
  background-color: transparent !important;
  border-bottom: none !important;

    padding: 12px 0 !important;
 }
/* Ime meseca i godina */
.react-datepicker__current-month {
  font-size: 16px;
  font-weight: 600;
}
/* Strelice za menjanje meseca */
 
.react-datepicker__navigation--next {

right: 0 !important;
}
.react-datepicker__navigation {
top: 30px !important;

}
.react-datepicker__navigation-icon--next{
left: 0 !important;
}
.react-datepicker__navigation-icon{
  top: 0 !important;
}
 

/* Dan u nedelji (pon, uto...) */
.react-datepicker__day-name {
  color: #666;
  font-size: 13px;
}

/* Svaki dan u kalendaru */
.react-datepicker__day {
  font-size: 14px !important;
  margin: 2px;
 
  
  transition: all 0.2s;
}
.react-datepicker__day,
.react-datepicker__day-name {
  width: 2rem !important;
  line-height: 2rem !important;
    height: 2rem !important;
  margin: 0.125rem !important;
  border-radius: 0.25rem !important;
  font-weight: 500 !important;
  color: #333 !important;
    transition: all 0.4s ease;
}



.react-datepicker__day:not(.react-datepicker__day--selected):not(.react-datepicker__day--keyboard-selected):not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end):not([aria-disabled="true"]):hover,
.react-datepicker__day--today:hover 
{
  background-color: rgba(var(--primary-rgb), 0.055) !important;
  color: #000 !important;
  cursor: pointer;
}


/* Disabled dani */
.react-datepicker__day--disabled {
   color: #d1d5db !important;
  background-color: transparent !important;
  cursor: not-allowed !important;
}
.react-datepicker__day--in-range, .react-datepicker__day--in-range.react-datepicker__day--in-selecting-range {
  background-color: rgba(var(--primary-rgb), 0.15) !important;
  color: var(--primary) !important;
  border-radius: 0 !important;
 
}
.react-datepicker__day--in-selecting-range{

  background-color: #fff !important;color:inherit !important;
}
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,.react-datepicker__day--highlighted.react-datepicker__day--in-selecting-range , .react-datepicker__day--in-selecting-range.react-datepicker__day--selecting-range-start ,
 .react-datepicker__day--selecting-range-end, .react-datepicker__day--range-start
{
  background-color: var(--primary) !important;
  color: #fff !important;
  border-radius: .25rem !important;
}

/* Danasnji dan */
.react-datepicker__day--today {
  border: none !important;
  font-weight: bold !important;
  background-color: transparent !important;
  color: var(--primary) !important;
 
}







.react-datepicker__day--range-start,
.react-datepicker__day--range-end,
.react-datepicker__day--range-start:hover,
.react-datepicker__day--range-end:hover {
  background-color: var(--primary) !important;
  color: #fff !important;
  border-radius: .25rem !important;
  
}
.react-datepicker__day--range-start.react-datepicker__day--in-range{
  border-radius: 4px 0 0 4px !important;
}
.react-datepicker__day--range-end.react-datepicker__day--in-range{
  border-radius: 0 4px 4px 0 !important;
}









/* swiper */


 

.swiper-button-next, .swiper-button-prev{
  --swiper-navigation-size:32px !important;
  width: calc(var(--swiper-navigation-size) / 32 * 32) !important;
 height:32px;
  border-radius: 50%;
  background-color:white ;
  box-shadow: rgba(12, 14, 28, 0.08) 0px 2px 12px 0px
}
.swiper-button-prev:after, .swiper-button-next:after {
  font-size:12px !important;
  color: var(--primary) !important;
}




 .yarl__slide  {
padding:32px 16px !important;
 }
 .yarl__icon {--yarl__icon_size:18px;
 
 }
 .yarl__navigation_next svg, .yarl__navigation_prev svg{--yarl__icon_size:24px !important;
  height: 24px !important;
  width: 24px !important;

 }
 .yarl__navigation_next, .yarl__navigation_prev {
border-radius: 50%;
border: 1px solid #fff !important;--yarl__navigation_button_padding: 8px;
 }
 .yarl__navigation_prev {
  left: 16px !important;
}
.yarl__navigation_next
 {
    right:16px !important ;
}
.yarl-slide {
  transform: translateX(100%) !important;
  transition: transform 0.5s ease-out !important;
}

.yarl-slide-active {
  transform: translateX(0) !important;
}



 
#parkingFacilities-wrapper h2, #internet-wrapper h2{
  display: none !important;
}

 #shopping_icon g > path{
  fill: var(--primary);
 }
  .react-datepicker__calendar-icon {
margin-right:.5rem !important;
color:#71717a !important;
  }

.react-datepicker__input-container button span{
  margin-right: 8px !important;
  font-size: 12px !important;
}
.react-datepicker__view-calendar-icon input{
  padding-left:28px !important;
  font-size:14px !important;
  height:40px !important;
  box-shadow: var(--chakra-shadows-xs) !important ;

  width:100% ;
}

.react-datepicker__input-container button{
  border-radius: 8px !important;border: 1px solid #dee2e6 !important;
 
  background-color: #fcfcfc;
}
/* 🔴 ERROR STATE */
.custom-datepicker.error-datepicker {
 --focus-ring-color: #ef4444;
    border-color:  #ef4444;

}
.react-datepicker-wrapper {
  width: 100%;
  flex:1;
}


 .breadcrumbs ul{
  list-style-type: none;padding-left:0;display: flex;
  align-items: center;
 }
 .breadcrumbs li{
word-break: normal;
white-space:initial;

 }




.preheader-wrapper .icon-wrapper {
 
  border-radius: .25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preheader-wrapper svg{
  fill: var(--on-subtle-secondary-bg);
 
}
.preheader-wrapper p{
  color:  var(--darker-secondary);
  font-weight: 600;
}
.preheader-wrapper svg path{
  stroke-width: 0 !important;
}

.breadcrumbs a,.breadcrumbs span {
  font-size: 14px;
}
.breadcrumbs a{
  color: var(--primary);
}
@media(max-width: 575.98px){
  .breadcrumbs svg {
width:16px !important; height: 16px !important;
  }
  .breadcrumbs ul{
    line-height: 1;
   
  }
 
}
@media(min-width: 576px){
.breadcrumbs svg{

 width:18px !important; height: 18px !important;
}
}
.breadcrumbs svg{
 fill: var(--body-color);
 fill: var(--primary);

}

.navbar-brand {
 text-shadow: 1px 1px 2px rgba(0,0,0,0.1);letter-spacing: 1px;
}
.navbar-brand .second-word{
 
  color: #C9A14A;
}
.navbar-brand .first-word{
  color: #003366; 
  font-weight: 600;
}




#SVGRepo_icon path, #SVGRepo_icon path + path {
  fill: rgba(var(--primary-rgb), .6) !important;
}
.section-name{
  position: relative;
  /* ili više po potrebi */
  font-weight: 300;   /* tanak font */
  text-transform: uppercase;
  letter-spacing: -0.025em;
 
  padding-left: .75rem;
border-left: 3px solid var(--secondary);
}
.section-name{
color:var(--primary);
}




.footer svg path, .footer rect {
    stroke-width: 0 !important;
 }
 
 .footer-link{
  transition: color 0.3s ease;
 
 }

 .footer-link:hover {
  color: var(--secondary);
}
.adress-block .footer-link{

  font-size: .875rem;
}
.footer-offer .footer-link{
  text-transform: uppercase;
  letter-spacing: .025em;
  font-weight: 300;
  font-size: .75rem;
}

.copyright-block .designer-name{
  font-weight: 300;
  letter-spacing: .05em;
}
.footer-socials .icon-wrapper .icon{
 padding: .5rem;
  border-radius: .25rem;
background: rgba(255, 255, 255, 0.08);
 
    border: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;align-items: center;justify-content: center;
  margin-right: .5rem;
}
.footer-socials .icon-wrapper {
  display: flex;align-items: center;justify-content: flex-start;
}

.footer-socials svg, .footer-socials rect,#Dribbble-Light-Preview{
  fill: var(--secondary) !important;
}
.footer-socials path{
  stroke-width: 0 !important;
}

 .footer-socials path{
  fill: var(--secondary) !important;
 }

 .st0{fill:#000000;} 
 button:disabled{
  opacity: 50%;
 }


 .react-datepicker__current-month{
  padding-bottom: 8px !important;
 }
 
.img-zoom-wrapper {
  overflow: hidden;
  border-radius: 0.25rem; /* ako želiš zaobljenje (rounded) */
}

.img-zoom-wrapper img {
  transition: transform 0.3s ease;
}

.img-zoom-wrapper img:hover {
  transform: scale(1.05);
}



.glass-bg {
  background: rgba(255, 255, 255, 0.1); /* ili rgba(var(--primary-rgb), 0.1) ako koristiš varijablu */
  backdrop-filter: blur(12px); /* glavna magla */
  -webkit-backdrop-filter: blur(12px); /* za Safari */
  border-radius: 1rem;
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2); /* tanki providni okvir */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  
}




@media(max-width:767.98px){
  .language-switcher-wrapper{
    margin-left: auto;
  }

}

@media(max-width:575.98px){


.language-switcher-wrapper button {
    font-size: 10px;
}


.language-switcher-wrapper{
  padding-top:4px;
  padding-bottom:4px;
}
.language-switcher-inner{
 justify-content: flex-end;
}
.navbar-brand{
  --navbar-brand-font-size:1.25rem;
}
.navbar{
  height: 48px;
}

.carousel.carousel-slider {
  overflow: visible !important;}


.react-datepicker__input-container button span, .contact-form-contact-page input[type='number'] {
   
    font-size: 12px !important;line-height:16px !important;
}

.section-nav{
  display: none;
}

}
@media(max-width:479.98px){

   
}

/*
.carousel .control-prev.control-arrow:before {
border-right-color: #ccc !important;
}
.carousel .control-next.control-arrow:before{
border-left-color: #ccc !important;
}
.carousel.carousel-slider .control-arrow {
height:fit-content !important;    
top: 45% !important;
}
*/
.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background: #fff;
  border: none;
  cursor: pointer;
  
  display:flex;
  justify-content: center;
  align-items: center;
 padding:8px;
 border: 1px solid rgba(var(--primary-rgb), .3);
 width:32px !important;
  height:32px !important;
  line-height: 32px !important;
  min-width:  32px !important;
  border-radius: 50%;
}
.carousel.carousel-slider {
  overflow: visible !important;}

.custom-arrow-prev {
  left: -12px;
}

.custom-arrow-next {
  right:-8px;
  right: -12px;
}

.custom-arrow svg {
  width: 18px;
  height: 18px;
  fill: var(--primary);
  
}

.carousel .control-dots {
  display:none !important;
}


@media(min-width: 576px) and (max-width:767.98px){

   
.language-switcher-inner {
        justify-content: flex-end;
    }
   

.navbar{
  height: 48px;
}


}
@media(min-width:768px) and (max-width:991.98px){


        .navbar{
          height: 56px;
        }
   
   
}
@media(min-width: 768px) and (max-width: 859.98px){
  .nav-link{
    font-size: .7rem;
  }
}
@media(min-width: 768px){
  .arrow-down-icon{
    display: none;
  }
}
@media(min-width: 992px){
}

@media(max-width: 767.98px){
.custom-collapse-menu {
          position: fixed;
          top: 0;
          left: 0;
          height: 100vh;
          width: 80%;
          max-width: 300px;
          background-color: white;
          z-index: 1050;
          transform: translateX(-100%);
          transition: transform 0.3s ease-in-out;
          padding: 1.5rem; padding-top: 3rem; /* prostor za X dugme */
          flex-direction: column;
          box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
display:flex;
        }

        .custom-collapse-menu.show {
          transform: translateX(0);
        }
        .dropdown-toggle{
          display: flex;
          align-items: center;
        }
        .arrow-down-icon{
          color: var(--primary);
        }
        .dropdown-menu{
          border-top: none;
        }
}
.navbar-shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.borders-wrapper .country{
  margin-bottom: .5rem;
}
.google-map-wrapper{
  width: 100%;
 
  overflow: hidden;
 
}
.google-map-wrapper iframe{
  width:100%;height: 100%;
  border-radius: 8px;min-height:320px;
}



.chakra-rating-group__item svg{
fill: var(--secondary);
}
[data-highlighted] svg {
  stroke: none;
}
.react-datepicker__view-calendar-icon input{
  border: 1px solid var(--chakra-colors-border);
  border-radius:.25rem;

}
.react-datepicker__input-container {
 
    display: inline-flex !important;
    align-items: center;
   
   
}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle {
    display:none;
}
.react-datepicker-popper .react-datepicker__triangle {
    display:none;
}

#facil svg{
  height: 2.5rem !important;
  width: 2.5rem !important;
}
@media (max-width: 480px) {
  #facil svg{
  height: 1.5rem !important;
  width: 1.5rem !important;
}
}
:focus-visible {
    outline: none !important;
     box-shadow: 0 0 0 2px rgba(var(--primary-rgb), 0.4) !important;
}
@media(min-width:576px) and (max-width:1023.98px ){
.contact-form {
width:75%;
max-width:24rem;
}
}


